@model WAZOT.Models.ViewModels.TecajPreviewVM
@{
    ViewData["Title"] = "Prikaz tečaja";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-4 mb-4 text-center">Pregled tečaja</h2>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="col-12">
            <h2 class="mt-4 mb-4 text-center">Opis</h2>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="text-center">
            @Model.Tecaj.opis
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-thumbnail text-center">
            <img src="@Model.Tecaj.slika" class="img-fluid" alt="@Model.Tecaj.naziv">
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="col-12">
            <h2 class="mt-4 mb-4 text-center">Komentari i ocjene</h2>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row mt-2">
            @if (Model.OcjenaTecajaList.Count() > 0)
            {
                @foreach (Ocjena_tecaja obj in Model.OcjenaTecajaList)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-light mb-3" style="max-width: 20rem;">
                            <div class="card-header text-center">
                                @for (int i = 0; i < obj.ocjena; i++)
                                {
                                    <i class="fa fa-star fa-6 text-warning" aria-hidden="true"></i>
                                }
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center">@obj.Osoba.ime @obj.Osoba.prezime</h4>
                                <p class="card-text">@obj.komentar</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <h4 class="mt-4 mb-4 text-center">Ovaj tečaj još nije ocijenjen.</h4>
                </div>
            }
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="container text-center mt-2">
            <a class="btn btn-lg btn-dark" href="/Korisnik/TecajPrijava/Create?id=@Model.Tecaj.Id" type="submit">Prijavi se na tečaj</a>
            <a class="btn btn-lg btn-dark" type="button" asp-controller="TecajPrijava" asp-action="Index">Povratak na popis tečaja</a>
        </div>
    </div>
</div>
